xml-resources/web-service-references/EntRollbackDocumentoService/wsdl/lasiewebsit.ccaf.andes_8080/enterprise/EntRollbackDocumentoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="http://osb.cla.cl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://osb.cla.cl" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://osb.cla.cl/types" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://osb.cla.cl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://osb.cla.cl" xmlns="http://osb.cla.cl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://osb.cla.cl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Request_EAI119_RollbackDocumento">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Header">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Canal">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="Usuario">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="IdTransaccion">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="FechaTransaccion">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:dateTime"/>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Documento">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InformacionCabecera">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Nombre">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="300"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Tipo">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="100"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="GrupoSeguridad">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="50"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="Metadata">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="FechaVencimiento">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:dateTime"/>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Response_EAI119_RollbackDocumento">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Estado">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Codigo">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Mensaje">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="RollbackDocIN">
    <WL5G3N0:part element="WL5G3N1:Request_EAI119_RollbackDocumento" name="Request_EAI119_RollbackDocumento"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="RollbackDocOUT">
    <WL5G3N0:part element="WL5G3N1:Response_EAI119_RollbackDocumento" name="Response_EAI119_RollbackDocumento"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="RollbackDocOp">
    <WL5G3N0:operation name="RollbackDocINOperation">
      <WL5G3N0:input message="WL5G3N1:RollbackDocIN"/>
      <WL5G3N0:output message="WL5G3N1:RollbackDocOUT"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="RollbackDocOpSOAP11Binding" type="WL5G3N1:RollbackDocOp">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="RollbackDocINOperation">
      <WL5G3N2:operation soapAction="http://osb.cla.cl/RollbackDocINOperation" style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="Request_EAI119_RollbackDocumento" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="Response_EAI119_RollbackDocumento" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="RollbackDocOp">
    <WL5G3N0:port binding="WL5G3N1:RollbackDocOpSOAP11Binding" name="RollbackDocOpPort">
      <WL5G3N2:address location="http://lasiewebsit.ccaf.andes:8080/enterprise/EntRollbackDocumentoService"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>